*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.header{
  text-align: center
}

img{
  padding-left: 10px;
}

.group{
  
  padding-bottom: 20px;
  padding-top: 5px;
  padding-left: 10px;
}

.job{
  padding: 15px 0px;
}
